<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Captcha Example</title>
</head>

<body>
    <h1>Custom Captcha Example</h1>
    <form method="POST">
        <img src="{{ url_for('static', filename='pics/temp/captcha.png')}} " alt="Captcha Image">
        <br>
        <label for="captcha_input">Enter Captcha:</label>
        <input type="text" name="captcha_input" required>
        <input type="hidden" name="captcha_text" value="{{ captcha_text }}">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>