<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/audiostyle.css') }}">
    <title>Audio Captcha Example</title>
</head>

<body>

    <form method="POST" action="/audio_captcha">
        <h1>Audio Captcha</h1>

        <label for="audio">Listen to the audio:</label>
        <audio controls>
            <source src='pics/temp/{{user_id}}.wav' type="audio/wav">
            Your browser does not support the audio element.
        </audio>
        <br>
        <label for="captcha_input">Enter the 6 digits you hear:</label>
        <input type="text" name="captcha_input" required>
        <input type="hidden" name="captcha_text" value="{{ captcha_text }}">
        <input type="hidden" name="user_id" value="{{user_id}}"><br>
        <br>
        <button type="submit">Submit</button>
    </form>


</body>

</html>