<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/textstyle.css') }}">
    <title>Text Captcha </title>
</head>

<body>
    <form method="POST">
        <h1>Text Captcha</h1>
        <img src='pics/temp/{{user_id}}.png' alt=" Captcha Image">
        <br>

        <a href="#" onclick="refreshPage()" title="Get New" class="refresh-link">&#8635;</a>
        <label for=" captcha_input">Enter Captcha:</label>
        <input type="text" name="captcha_input" required>
        <input type="hidden" name="captcha_text" value="{{captcha_text}}">
        <input type="hidden" name="user_id" value="{{user_id}}"><br>
        <button type=" submit">Submit</button>
    </form>
    <script>
        function refreshPage() {
            // Reload the current page
            window.location.reload();
        }

    </script>
</body>

</html>